<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.costa.safeshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_v2_192x192"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_v2_192x192"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowAudioPlaybackCapture="true">
        <activity android:name=".LastActivity"></activity>
        <activity android:name=".CCPAct" />
        <activity android:name=".CIBAct" />
        <activity android:name=".TicketAct" />
        <activity android:name=".confirmAct" />
        <activity android:name=".TotalAct" />
        <activity android:name=".OrderAct" />
        <activity android:name=".BooksAct" />
        <activity android:name=".HomeAct" />
        <activity android:name=".RegAct" />
        <activity android:name=".MainActivity" />
        <activity android:name=".WelcomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>